@keyframes moveDiagonally {
    0% {
      top: -4rem;
      right:3rem;
    }
  
    100% {
      top: -4rem;
      right: 3rem;
      transform: translate(-420px, 242px);
    }
  }
  
  @keyframes moveDiagona {
    0% {
      bottom: -4rem;
      left: 10%;
    }
  
    100% {
      bottom: -4rem;
      left: 10%;
      transform: translate(370px, -230px);
    }
  
  }
  
  
  .animated-circle-one {
    animation: moveDiagonally 7.5s alternate infinite;
  }
  
  .animated-circle-two {
    animation: moveDiagona 6s alternate infinite;
  }