@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

html,
body,
:root {
  height: 100%;
}

.background {
  background: url('../public/image (24) 1.svg');
  background-size: 100% auto; /* Set background size to cover the entire width and auto height */
  background-repeat: no-repeat; /* Prevent background from repeating */
  background-position: center; /* Center the background image horizontally */
  /* margin: 20% 0; Set top and bottom margins to 20% */
}

.border{
  border-left-width:  15px;
  border-left-color: black;
border-top: 15px black solid;
border-bottom: 15px black solid;
border-radius: 24px;
border-right-color: black;
}

@media screen and (min-width: 1023px) and (max-width: 1470px) {
  .apart {
    /* Reset margin on the x-axis to remove the margin */
    margin-left: 0;
    margin-right: 0;
  }
}





/* Define the keyframes for the animation */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Define the keyframes for the slideInFromright animation */
@keyframes slideInFromright {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Apply the animation to the specified elements with class names */
.slide-in {
  opacity: 0;
}

.slide-in.show {
  opacity: 1;
}



.survive.slide-in {
  animation: slideInFromLeft 5s ease;
}


.about-us-in.slide-in {
  animation: slideInFromright 12s ease-in-out;
}

.character.slide-in{
  animation: slideInFromright 8s ease-in-out;
  
}

.survived.slide-in {
  animation: slideInFromright 5s ease;
}

/* Rest of the CSS styles */

